#f1{
    text-align: center;
    color:darkcyan;
    font-size:x-large;
    font-weight: bolder;
}
#f2{
    text-align: center;
    color:rgb(121, 82, 25);
    font-size:x-large;
    font-weight: bolder;
}
#f3{
    text-align: center;
    color:rgb(40, 109, 49);
    font-size:x-large;
    font-weight: bolder;
}